<div class="container p-4">
    <div class="row">
        {{#each links}}
            <div class="col-md-4 m-5">
                <div class="card text-center">
                    <h3 class="card-title text-uppercase m-4">
                        {{ title }}
                    </h3>
                    <a href="{{url}}" target="blank">
                        Click here
                    </a>
                    <p>
                         {{ description }}
                    </p>
                     <p>
                        {{timeago created_at}}
                    </p>
                    <div class="actions-buttons">
                        <a href="/links/delete/{{id}}" class="btn btn-danger m-4">
                            Delete
                        </a>
                        <a href="/links/edit/{{id}}" class="btn btn-secondary m-4">
                            Edit
                        </a>
                    </div>
                </div>
            </div>
            {{else}}
                <div class="col-md-8 mx-auto">
                    <div class="card card-body text-center">
                        <p>
                            There are no links to list
                        </p>
                        <a href="/links/add">
                            Add one
                        </a>
                    </div>
                </div>
        {{/each}}
    </div>
</div>